<div id="<%= dom_id comedian %>">
  <p>
    <strong>First name:</strong>
    <%= comedian.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= comedian.last_name %>
  </p>

  <p>
    <strong>Id number:</strong>
    <%= comedian.id_number %>
  </p>

</div>
